<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="icon" href="../storage/img/cake.png" type="image/x-icon">
    <title>Feliz cumpleaños</title>
</head>
<body>

    <div id="confetti"></div>
    <script src="https://code.jquery.com/jquery-1.11.0.js"></script>
    <script src="../js/confetti.js"></script>

    <div class="title">
        <h1>Feliz cumpleaños</h1>
    </div>

    <div class="letter">
    <div class="letter_pagraph">
        Hoy es tu día, brilla el sol,
        celebramos con gran emoción,
        que en tu vida reine el amor,
        y se cumpla cada ilusión.
    </div>
    <div class="letter_pagraph">
        Las velas en el pastel resplandecen,
        y tus sueños se elevan al cielo,
        que cada año te colme de alegrías
        y te lleve a un futuro más bello.
    </div>
    <div class="letter_pagraph">
        Que cada amanecer te abrace con ternura,
        y cada noche te arrulle con estrellas de paz,
        que tu vida sea un viaje de dulces sorpresas,
        y en cada paso, un sueño se haga realidad.
    </div>
    <a class="back" href="../index.html">Regresar</a>
</div>
</body>
</html>