<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="icon" href="../storage/img/cake.png" type="image/x-icon">
    <title>Feliz cumpleaños</title>
</head>
<body>

    <div id="confetti"></div>
    <script src="https://code.jquery.com/jquery-1.11.0.js"></script>
    <script src="../js/confetti.js"></script>

    <div class="title">
        <h1>Feliz cumpleaños</h1>
    </div>

    <div class="letter">
    <div class="letter_pagraph">
        Hoy es tu día, brilla con fuerza,
        celebramos con todo el corazón,
        agradezco por tu inmensa grandeza,
        y todo el amor que das sin condición.
    </div>
    <div class="letter_pagraph">
        Tu apoyo siempre ha sido mi faro,
        guiándome en momentos de oscuridad,
        perdóname si no siempre soy amable,
        pero valoro cada acto, tu bondad.
    </div>
    <div class="letter_pagraph">
        Que cada amanecer te llene de alegría,
        y cada noche te regale paz y estrellas,
        que tu vida sea un viaje lleno de sorpresas,
        y en cada paso, brille tu luz más bella.
    </div>
    <a class="back" href="../index.html">Regresar</a>
</div>
</body>
</html>